<nav class="main-nav nav">
    <ul>
      <li class="main-nav__item">
        <a href="/">home</a>
      <li><a href="/admin/add-product">add product</a></li>
      <li ><a href="/admin/products">products</a></li>
    </ul>
  </nav>