<nav class="main-nav ">
    <ul>
      <li class="main-nav__item">
        <a href="/">Home</a>
      <li class="main-nav__item">
        <a href="/admin/add-product">add product</a>
      </li>
      <li class="main-nav__item">
        <a href="/admin/products">Admin products</a>
      </li>
      <li class="main-nav__item" >
        <a href="/shop/products">products</a>
      </li>
      <li class="main-nav__item">
        <a href="/shop/cart">cart</a>
      </li>
      <li class="main-nav__item">
        <a href="/shop/checkout">checkout</a>
      </li>
      <li class="main-nav__item">
        <a href="/shop/orders">orders</a>
      </li>

    </ul>

  </ul>

  </nav>