<nav class="main-nav ">
    <ul>
      <li class="main-nav__item">
        <a href="/">Home</a>
      <li class="main-nav__item">
        <a href="/admin/add-product">add product</a>
      </li>
      <li class="main-nav__item">
        <a href="/admin/products">Admin products</a>
      </li>
      <li class="main-nav__item" >
        <a href="/shop/products">products</a>
      </li>
      <li class="main-nav__item">
        <a href="/shop/cart">cart</a>
    </ul>
  <!-- <li class="main-nav__item">
    <a href="/shop/orders">orders</a>
  </li>
  <li class="main-nav__item">
    <a href="/auth/logout">logout</a>
  </li>
  </ul>
  <li class="main-nav__item">
    <a href="/auth/login">login</a>
  </li> -->
  </ul>

  </nav>