<nav class="main-nav ">
    <ul>
      <li class="main-nav__item">
        <a href="/">home</a>
      <li class="main-nav__item">
        <a href="/admin/add-product">add product</a>
      </li>
      <li class="main-nav__item" >
        <a href="/admin/products">products</a>
      </li>
    </ul>
  </nav>