<%- include('includes/head.ejs') %>

<body>

  <header class="main-header">
    <%-  include('includes/navigation.ejs')  %>
    
    
  </header>

  <main>
    <section class="products">
      
      <ul class="product-list">

        

      </ul>
    </section>

  </main>
  
</body>

<%-  include('includes/end.ejs')  %>


      

      

  

  
      