<%- 
include('../includes/head.ejs')

%> 

<header class="main-header">
    <%- 
    include('../includes/navigation.ejs')
    
    %>

</header>

<main>
    <section class="checkout">
       
      checkout
    </section>
    
  </main>

  <%- 
    include('../includes/end.ejs')
  %> 

