<%- include('../includes/head.ejs') %>

<body>

  <header class="main-header">
    <%-  include('../includes/navigation.ejs')  %>
    
    
  </header>

  <main>
    <section class="index">
      
      Home page
    </section>

  </main>
  
</body>

<%-  include('../includes/end.ejs')  %>


      

      

  

  
      