//Nav Section


.main-header {
  background-color: #ccc;
  padding: 0.5rem;
  text-align: center;
}

.main-nav {
  background-color: rgb(226, 190, 13);
  padding: 1rem;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  margin-right: 1rem;
  text-transform: uppercase;
  font-family: sans-serif;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a:active {
  color: #e76d0a;
}

//Product Section

.product-form {
  margin: 2rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 80%;
}

.product-form__control {
  display: block;
  margin-bottom: 0.5rem;
}

.product-form__actions {
  text-align: center;
}

.product-form__actions button {
  font: inherit;
  cursor: pointer;
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 0.25rem 2rem;
  border-radius: 6px;
}

.product-form__actions button:hover,
.product-form__actions button:active {
  background-color: #fa923f;
  border-color: #fa923f;
}

.product-list {
  margin: 2rem auto;
  width: 80%;
  text-align: center;
    list-style: none;

    &product-item {
      border: 1px solid #ccc;
      padding: 1rem;
      margin-bottom: 1rem;
      display: inline-block;
      width: 45%;

      &__image {
        width: 100%;
      }

      &__title {
        font-size: 1.25rem;
        margin: 0.25rem 0;
      }

      &__price {
        color: #888;
        font-size: 1.15rem;
        margin-bottom: 0.5rem;
      }
    }

    &product-item:nth-child(2n) {
      margin-left: 1rem;
    }






}






